.card {
    border: 1px solid #c0de7c;
    border-radius: 15px;
    background: #ffffff;

    box-shadow: 0 8px 8px #20373B;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding-bottom: 35px;
    height: 850px;

}

.likes{
    text-align: right;
    margin-bottom: 10px;
}

.like {
    font-weight: 700;
    text-align: right;
    font-size: 25px;
    background: none;
    border: none;

}

.img-w {
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;


}

.img-w img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.text h3 {
    color: #1d6617;
    font-size: 25px;
}

.text h4 {
    color: #042401;
    font-size: 25px;
    text-align: right;
}

.text p {
    color: #042f02;
    font-size: 18px;
}

.buttons{
   gap: 50px;
}
.kaspi {
    border: 2px solid rgb(58, 1, 1);
    border-radius: 10px;
    background-color: rgb(203, 5, 5);
    padding: 5px;
    width: 150px;
    margin-left: 20px;
}

.kaspi a {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    

}

.kaspi:hover {
    background-color: rgb(233, 86, 86);
}

.delete{
    color: red;
    background: none;
    border: none;
    font-size: 20px;
    
}
.d{
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
    align-items: center;
}

.thumbs {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.thumbs img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 6px;
}

.thumbs img.active {
    border-color: #1d6617;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.wh {
    background-color: #25d366;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    border: 2px solid #075e54;
    transition: 0.3s;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px;
    width: 150px;
}

.wh:hover {
    background-color: #17ba6e;
}

.share {
    font-size: 20px;
    margin-left: 30px;

}

.tg {
    background-color: #1b92d1;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    border: 2px solid #075e54;
    transition: 0.3s;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px;
    width: 150px;
}

.tg:hover {
    background-color: #37afe2;
}