.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 120px;

    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #073b05;
    font-weight: bold;
}

.head p:hover {
    color: #1d6617;
}

.head p.active {
    font-weight: bold;
    border-bottom: 2px solid #1d6617;
}

hr {
    width: 100%;
    border: 1px solid #073b05;
    margin-top: -10px;
}

.welcome{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 150px;
    transition: 0.5s;
}

.welcome:hover{
    color: #1d6617;
    text-decoration:underline;

}
