.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 120px;

    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #073b05;
    font-weight: bold;
}

.head p:hover {
    color: #1d6617;
}

.head p.active {
    font-weight: bold;
    border-bottom: 2px solid #1d6617;
}

hr {
    width: 100%;
    border: 1px solid #073b05;
    margin-top: -10px;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    padding: 50px;
}

.card {
    border: 1px solid #c0de7c;
    padding: 12px;
    border-radius: 15px;
    background: #ffffff;

    box-shadow: 0 8px 8px #20373B;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding-bottom: 35px;

}

.like {
    font-weight: 700;
    text-align: right;
}

.img-w {
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;


}

.img-w img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.text h3 {
    color: #1d6617;
    font-size: 25px;
}

.text h4 {
    color: #042401;
    font-size: 25px;
    text-align: right;
}

.text p {
    color: #042f02;
    font-size: 18px;
}

.text button {
    border: 2px solid rgb(58, 1, 1);
    border-radius: 10px;
    background-color: rgb(203, 5, 5);
    padding: 5px;
    width: 150px;
}

.text button a {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    
}

.text button:hover {
    background-color: rgb(233, 86, 86);
    ;
}

.thumbs {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.thumbs img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 6px;
}

.thumbs img.active {
    border-color: #1d6617;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.wh {
    background-color: #25d366;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    border: 2px solid #075e54;
    transition: 0.3s;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px;
    width: 150px;
}

.wh:hover {
    background-color: #17ba6e;
}

.share {
    font-size: 20px;
    margin-left: 30px;

}

.tg {
    background-color: #1b92d1;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    border: 2px solid #075e54;
    transition: 0.3s;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px;
    width: 150px;
}

.tg:hover {
    background-color: #37afe2;
}