* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: #000;
    padding: 30px;
    display: flex;
    align-items: center;
}

header p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;

}

.form label {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;


}

.field {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 100px;
    margin-top: 35px;
}

.input {
    font-size: 18px;
    width: 555px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #afafaf;
}

.button {
    font-size: 18px;
    width: 70px;
    color: #fff;
    background-color: rgb(51, 129, 218);
    border: none;
    border-radius: 5px;

}

.todolist {
    list-style: none;
    margin-top: 50px;
    width: 800px;
    margin-left: 79px;
    border: 1px solid #afafaf;
    border-radius: 6px;
    overflow: hidden;

}

.todoitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 55px;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 10px;
}

.todoitem:last-child {
    border-bottom: none;
}

.txt {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

.delete {
    background: none;
    border: none;
    font-size: 18px;
    color: #ff4d4f;
    transition: 0.2s;
}

.checkbox {
    width: 18px;
    height: 18px;
    accent-color: rgb(51, 129, 218);
    cursor: pointer;

}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
    transition: 0.3s;
}