.container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 25px;
    justify-content: right;
    padding: 20px;
    margin-right: 150px;
}
.container a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container a:hover{
    text-decoration: underline;
}
hr{
    width: 100%;
}
