h1{
    font-family: 'Archivo Black';
    font-size: 60px;
    margin-left: 80px;
    color: #162660;
    margin-top: 10px;
}
.head{
    width: 100%;
    margin-top: -20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 50px;
}

.card {
    border: 1px solid #519cab;
    padding: 12px;
    border-radius: 15px;
    background: #fff;

    box-shadow: 0 8px 8px #20373B;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding-bottom: 35px;
}

.card:hover {
    transform: translateY(-4px);
}

.img-w {
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;


}

.img-w img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

hr {
    margin-top: 50px;
    width: 300px;
    border-color: #519cab;
}

h3 {
    color: #162660;
    font-size: 23px;
    font-family: 'Montserrat';
    margin-top: 50px;
}

.sent {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    margin-left: 20px;
}

.cost {
    font-size: 25px;
    font-weight: 600;
}

.rating {
    font-size: 20px;
}

button {
    width: 180px;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #519cab;
    transition: 0.3s;
}

button:hover {
    background-color: #64d4eb;
}

.sent a {
    font-family: 'Montserrat';
    text-decoration: none;
    color: #fff;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.wh {
    background-color: #25d366;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    border: 2px solid #075e54;
    transition: 0.3s;
}

.wh:hover {
    background-color: #17ba6e;
}

.share {
    margin-top: 30px;
    margin-left: 1 0px;
}

.tg {
    background-color: #1b92d1;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    border: 2px solid #075e54;
    transition: 0.3s;
}

.tg:hover {
    background-color: #37afe2;
}


.thumbs {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.thumb {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
}

.thumb.active {
    border-color: #519cab;
}

.thumb:hover {
  transform: scale(1.05);
}