body {
    margin: 0;
}

.main {
    display: flex;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    padding-top: 50px;
}

.container {
    display: flex;
    width: 900px;
    height: 450px;
    gap: 80px;
}


.logo {
    color: #1877f2;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 8px;
}

.text {
    font-size: 28px;
    margin-top: 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

}

.right {
    width: 350px;
    height: 300px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.right input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.right button {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 12px;

}

.login-btn {
    color: #fff;
    background-color: #1877f2;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.forgot-btn {
    margin-top: 10px;
    text-align: center;
}

.forgot-btn:hover,
.forgot-btn:active {
    text-decoration: underline;
}


.register-btn {
    width: 100%;
    box-sizing: border-box;
    max-width: 250px;
    color: #fff;
    background-color: rgb(20, 196, 20);
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
}

.right a {
    display: block;
    margin-top: 10px;
    color: #1877f2;
    text-decoration: none;
    font-size: 15px;
}

.create-pg {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;

}

.create-pg a {
    font-weight: bold;
    color: black;
    text-decoration: none;

}
.create-pg a:hover{
    text-decoration: underline;
}


footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #737373;
    background: #fff;
    padding: 25px 0;
    width: 100%;
}


.footer-container {
    width: 980px;
    margin: 0 auto;
    font-size: 12px;
    color: #737373;
    font-family: Helvetica, Arial, sans-serif;
}

.languages,
.links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 15px;

}

footer a {
    text-decoration: none;
    color: #737373;
}

footer a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.copyright {
    margin-top: 10px;
}